* {
    margin: 0 !important;
    padding: 0 !important;
}

a, a span {
    color: #28A264 !important;
}

body, span, p {
    font-family: 'HelveticaNeue-Light' !important;
    font-size: 17px !important;
    background-color: #FFFDF3 !important;
    color: #7F7F7F !important;
}

img {
    max-width: 100% !important;
    height: auto !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

